body {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width:100%;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
header ul {
  display: flex;
}
header li {
  margin-left: 20px;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-transform: uppercase;
}
header a{
  color:rgb(255,251,0);
  text-decoration:none;
  font-size:20px;
  padding:12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 6px;
}
header a:hover{
  color:rgb(77,77,77);
  background-color:rgb(255,251,0);
}